<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Kandy9430 as part of the Andrew Mead Node.js Udemy Course. It uses weatherstack and mapbox APIs.</p>
      <img src="/img/robot.png"  alt="picture of a robot" class="portrait"/>
    </div>
    
    {{>footer}}
  </body>
</html>