<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Enter a location to get the weather:</p>
      <form action="/weather" method="get">
        <input required type="text" name="address" id="address" placeholder="Location">
        <select name="units" id="units">
          <option value="f" selected>&deg;F</option>
          <option value="m">&deg;C</option>
          <option value="s">K</option>
        </select>
        <button>Search</button>
      </form>
      <p id="error-message"></p>
      <div id="weather-info-container">
        <div class="weather-info-header">
          <h2 id="location" class="weather-info"></h2>
          <p id="description" class="weather-info"></p>
        </div>
        <div class="weather-info-content">
          <p id="temperature" class="weather-info"></p>
          <p id="humidity" class="weather-info"></p>
          <p id="precip" class="weather-info"></p>
        </div>
      </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
  </body>
</html>